<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12">

<form role="form" asp-action="AddRole2">
          @model WebApp_hareem.Models.Role                         
   <div class="form-group">
                        <label>Role Name</label>
                        <input class="form-control" placeholder="PLease Enter Keyword" asp-for="RName" />
                                        </div>
                                        
       <button type="submit" class="btn btn-primary">Add Role</button>

                                    </form>
                                </div>
                                </div>
    </div>
</div>
